// supabase 
SUPABASE_URL=
SUPABASE_SECRET_KEY=

//whatsapp
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_BUSINESS_ACCOUNT_ID=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_VERIFY_TOKEN=
WHATSAPP_APP_SECRET=
WHATSAPP_GRAPH_API_VERSION=

//openAI
OPENAI_API_KEY=
OPENAI_FINANCIAL_MODEL=
OPENAI_TRANSCRIPTION_MODEL=